/* .gap{
margin-left: 50%;
}

.nav-item{
    margin-left: 30%;
}
.nav-link{
    font-size: 1.5rem;
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans:wght@300&display=swap");
#section1 {
  height: 300px;
  width: 100vw;
  background-image: url(unBuilding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #0d051c; */

  /* margin-bottom: 2rem; */
}
.wrapper1 {
  align-items: center;
  justify-content: center;
}
.geca {
  font-size: 4rem;
  font-weight: 400;
  font-family: "Poppins";
  /* justify-content: center; */
  /* position:fixed; */
  /* align-content: center; */
  text-align: center;
  z-index: 5;
  color: #ffdd01;
  filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% /0.5));
}
.moto1 {
  font-family: "Work Sans";
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1.5px;
  z-index: 10;
  font-weight: 600;
  color: black;

  filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% /0.6));
}
.navbar-custom {
  background-color: rgba(203, 203, 203, 0.8);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(41, 40, 40, 0.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(41, 40, 40, 0.8);
}
.navbar-toggler {
  color: #fff;
}
/*----------------------------------section 2----------------------------------------*/
/* #section2 {
  background-image: url(background1.jpg);
  background-size: cover;
  height: 500px;
  width: 100vw;
  
  
} */
/************************************** section 3 *****************************************/
#section3 {
  height: 600px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d051c;
}
.wrapper3 {
  width: 90%;
  height: 90%;
  /* background-color: #fff; */
  /* border-radius: 15px;
    border: 2px solid #fff;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.5),
    10px 15px 20px #000; */
}
.wrapper3 a .btn btn-primary {
  align-self: flex-end;
}
.aboutus {
  text-align: center;
  color: #fff;
  font-family: "Poppins";
  letter-spacing: 5px;
  margin-bottom: 2rem;
}
.about1,
.about2,
.about3 {
  color: #fff;
  letter-spacing: 1px;
  line-height: 30px;
}
/* .about2{
    color: #fff;
    letter-spacing: 1px;
    line-height: 30px;
} */

/*-------------------------------------section 4*----------------------------------------------*/
#section4 {
  height: 600px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(mun.jpeg);

  background-size: cover;
}
#section4 img {
  background-size: cover;
}
.wrapper4 {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* 
  background-color: #0d051c; */

  backdrop-filter: blur(3px);
}
.teams-heading {
  margin: 1rem;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffdd01;
  font-family: "Poppins";
  font-size: 3rem;
  filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% /0.5));
  /* text-shadow: 5px 10px 5px solid black; */
}

/*------------------------- -----------------------------------*/
.row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.card {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.card1 {
  /*float: left;*/

  max-width: 90vw;
  padding: 0.75rem;
  margin-bottom: 2rem;
  border: 0;
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
}
.card-img-top {
  padding: 1rem;
}
.card-title {
  font-size: 800;
  font-family: "Poppins";
}

/* -------------------------------SECTION 5----------------------------------*/

#section5 {
  width: 100vw;
  height: 600px;

  background-image: url("images\Background\mun-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffb700;
}
/* .wrapper5 {
  position: absolute;
} */
.achiv-title {
  font-size: 3rem;
  text-align: center;
  font-family: "poppins";
  /* margin: 1.5rem; */
  padding-top: 1rem;
  color: #0d051c;
  filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% /0.6));
}
.wrapper5 .card {
  margin: 0.8rem;
}
/* .wrapper5 .row {
  padding-bottom: 20px;

} */
#section5 .card {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #0d051c;
  color: #fff;
  margin-bottom: 20px;
}
/* #section5 .card-img-top img {
  border-radius: 5px;
} */
/*=========================== SECTION 6============================*/
#section6 {
  width: 100vw;
  height: 730px;
  background-image: url(contact1.jpg);
  background-size: cover;
}
.wrapper6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: #fff;
}
.contact-us {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur (5px);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.contact-title {
  text-align: center;
  padding-top: 1rem;
  color: black;
  font-family: "Work Sans";
  font-weight: 500;
  filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% /0.5));
}
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.location iframe {
  border-radius: 5px;
}
.left-side {
  padding: 1rem;
  /* display: flex; */
  justify-content: space-between;
}
.address-details,
.phone-details,
.email-details {
  padding: 0.5rem;
}
.topic {
  font-weight: 700;
}
/*--------------------------footer--------------------------------*/
.bottom {
  padding: 1rem;
  background-color: #0d051c;
}
.bottom span {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}
.bottom span h1 {
  font-size: 2.5rem;
  padding-left: 0.5rem;
  color: #fff;
}

/*---------------SOCIAL MEDIA----------------------*/
.icons {
  /* width: 30%; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  column-gap: 25px;
  padding-right: 100px;
  flex-wrap: wrap;
  padding: 10px;
}

.icon {
  width: 2em;
  height: 2em;
  margin: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.icon:hover {
  outline-offset: 4px;
}

.icon:hover i {
  animation: shake 0.25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--facebook:hover {
  background-color: #4267b2;
  outline-color: #4267b2;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }
}

/*---------------------------------------------------*/
#copyright {
  color: #fff;
}
